@use "../abstracts/variables" as var;
@use "../abstracts/theme-vars" as mix;

* {
    background-color: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: "Montserrat", sans-serif;
    list-style: none;
    color: #ffffff;
    font-size: 1rem;
}

body.light {
    @include mix.theme-vars(var.$light-theme);
}

body.dark {
    @include mix.theme-vars(var.$dark-theme);;
}

body {
    background-color: var(--bg-theme);
}