$light-theme: (
    bg-theme: #e4e4e7,
    bg-primary: #ffffff,
    bg-secondary: #27272a,

    hov-primary: #3d3d40,

    color-primary: #3F3F46,
);

$dark-theme: (
    bg-theme: #16171b,
    bg-primary: #242428,
    bg-secondary: #121216,

    hov-primary: #3d3d40,

    color-primary: #B6B6BE,
);